
.btncolor {
    background-color:blueviolet;
}

.row {
    padding-left: 70px;
    font-size: 20px;
}

.font {
    font-size: 20px;
}

.button {
    padding-left: 40px;
}

.payHomeh1 {
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 17%;
}

.payHomeBtn {
    margin-left: 46%;
    margin-right: 25%;
}